body {
  background:rgb(242,242,242);
}

.word {
  border-radius: 0;
  background: rgb(224,224,224);
  color: rgb(83,83,83);
  font-size: 36px;
}

.content {
  background:rgb(255,255,255);
  margin-top: 96px;
  margin-left: 19.1%;
  margin-right: 19.1%;
  padding: 16px;
  position: fixed;
  height: 100%;
  width: 61.8%;
}

.current {
  color: rgb(255,255,255);
  background: rgb(240,130,35);
  font-size: 36px;
}

.item {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  line-height: 48px;
  vertical-align: middle;
}

.item p {
  margin-top: 4px;
  margin-bottom: 4px;
}

.navbar-collapse {
  padding-right: 0px;
}

.navigator {
  width: 61.8%;
  background: #FFFFFF;
  border: 0;
  border-radius: 0px;
  margin-left: 19.1%;
  margin-right: 19.1%;
  padding: 12px;
  padding-left: 0px;
  padding-right: 0px;
  position: fixed;
}

.notification {
  border-radius: 0;
  color: rgb(83,83,83);
  font-size: 24px;
  text-align: right;
}

.row {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.searchbox {
  border: 0;
  outline: 0;
  color: rgb(153,153,153);
  font-size: 36px;
  height: 48px;
  line-height: 48px;
  vertical-align: middle;
  padding: 4px;
}

.shadow {
  -moz-box-shadow: 0px 0px 4px rgb(153,153,153);
  -webkit-box-shadow: 0px 0px 4px rgb(153,153,153);
  box-shadow: 0px 0px 4px rgb(153,153,153);
}

::-ms-clear {
  display: none;
}